.addressPic{
	display: block;
	margin-left: 140px;
	margin-top: 55px;
	float: left;
}
.addressPic .morePic:hover{
	-webkit-transform:scale(1.1);
	-moz-transform:scale(1.1);
	transform:scale(1.1);
	-webkit-transition:0.5s;
	-moz-transition:0.5s;
	transition:0.5s;
}
#mooc{
	margin-left: 300px;
}
#zhihu{
	margin-left: 300px;
}
#weibo{
	margin-left: 300px;
}
.moreContent .moreText{
	margin-top: 5px;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	color: #186785;
}